body {
    color:                  get-color(footer);
    font-family:            "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

.page-title {
    background-image:       url(../img/title_logo.png);
    width:                  723px;
    height:                 422px;
    background-repeat:      no-repeat;
}

.sdcit-logo {
    width:                  373px;
    height:                 60px;
    background-repeat:      no-repeat;
    background-image:       url(../img/sdcit_logo.png);
}

.xdd {
    width:                  198px;
    height:                 423px;
    background-repeat:      no-repeat;
    background-image:       url(../img/xjp.png);
}

.title-line {
    display:                inline-block;
    .left-line, .right-line {
        border-top:         solid 2px white;
        width:              300px;
    }
    .left-line {
        margin-right:       30px;
    }
    .right-line {
        margin-left:        30px;
    }
}

.section {
    box-sizing:             border-box;
    overflow:               hidden;
    padding:                2rem 0;

    .title {
        font-size:          2.8rem;
        // font-weight:        normal;
        margin:             0;
        padding:            0 .5rem;
        display:            inline-block;
        vertical-align:     bottom;
    }

    .title > span {
        color:              get-color(red);
        margin:             0 10px;
    }

    .underline {
        border-bottom:      2px solid get-color(primary);
    }

    .margin-bottom {
        margin-bottom:      2rem;
    }

    .margin-bottom-2 {
        margin-bottom:      4rem;
    }
}

.messagebox {
    box-sizing:             border-box;
    background-color:       #FFF;
    border:                 2px solid #D2D2D2;
    padding:                20px 40px;
    position:               relative;

    &::after {
        content:            ''; 
        position:           absolute; 
        top:                26%; 
        left:               -12px; 
        width:              20px; 
        height:             20px;
        background:         inherit;
        border-left:        2px solid #D2D2D2;
        border-bottom:      2px solid #D2D2D2;
        transform:          rotate(45deg);
    }

    & > div {
        z-index:            1;
        background:         inherit;
        line-height:        150%;
    }
}

.parallelograms {
    display:                inline-block;
    vertical-align:         bottom;

    %plg {
        height:             50px;
        background-color:   get-color(primary);
        display:            inherit;
    }

    .plg-left-1 {
        width:              80px;
        margin-right:       10px;
    }
    .plg-left-2 {
        width:              30px;
        margin-right:       60px;
    }
    .plg-right-1 {
        width:              30px;
        margin-left:        60px;
    }
    .plg-right-2 {
        width:              80px;
        margin-left:        10px;
    }

    @for $i from 1 through 2 {
        .plg-left-#{$i} {
            @extend %plg;
            transform:      skew(30deg);
        }
        .plg-right-#{$i} {
            @extend %plg;
            transform:      skew(-30deg);
        }
    }
}

.title-box {
    width:                  100px;
    height:                 100px;
    border-radius:          15px;
    color:                  #FFF;
    text-align:             center;
    line-height:            100px;
    font-size:              90px;
}

.ques-mk {
    font-size:              100px;
}

.num-mk {
    font-size:              60px;
}

.content-title {
    & > h1 {
        font-size:          2.25rem;
        font-weight:        normal;
    }

    & > h1 > span {
        color:              #D80000;
    }

    & > h2 {
        margin-top:         0;
    }

    .no-margin {
        margin: 0;
    }
}

.content-box {
    margin:                 0 20px;

    & > p {
        margin:             0;
        line-height:        150%;
    }

    .p {
        margin-left:        30px;
        margin-right:       30px;
        line-height:        200%;
        text-indent:        2rem;
    }
}

.red-fg {
        color:              get-color(red);
}

.group-box {
    margin:                 10px;
    border:                 1px solid #D2D2D2;
    padding:                20px;

    p {
        margin:             40px 0;
    }

    & > h2 {
        position:           relative;
        margin-top:         -40px;
        background-color:   #FFF;
        color:              get-color(primary);
    }

    .t1 {
        width:              220px;
    }

    .t2 {
        width:              320px;
    }
}

.footer {
    color:                  #FFF;
    padding:                0;
    text-align:             center;
}

@media (max-width: 1000px) {
    section, footer {
        display:            none;
    }
    div {
        .unsupdisp {
            height:         100vh;
        }
    }
}

@media (min-width: 1001px) {
    div {
        .unsupdisp {
            display:        none;
        }
    }
}