.header {
    .title {
        position:                           relative;
        top:                                60px;
        width:                              494px;
        height:                             54px;
        background-image:                   url(../img/detail_title.png);
        background-repeat:                  no-repeat;
        @include make-center();
    }
}
.section {
    background-color: #FFF;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
    h1 {
        font-size: 20px;
        text-align: center;
    }
    img {
        float: left;
        margin-right: 20px;
    }
    p {
        line-height: 200%;
        font-size: 14px;
    }
}
.article {
    p {
        font-size:                          14px;
        text-indent:                        28px;
    }
    .copyright {
        float:                              right;
        p {
            display:                        inline-block;
            margin-top:                     0;
        }
    }
}