.header {
    .title {
        position:                           relative;
        top:                                60px;
        width:                              228px;
        height:                             54px;
        background-image:                   url(../img/index_title.png);
        background-repeat:                  no-repeat;
        @include make-center();
    }
}

.article {
    h1, h2 {
        color:                              red;
        text-align:                         center;
        font-weight:                        normal;
        font-size:                          18px;
    }
    p {
        font-size:                          14px;
        text-indent:                        28px;
    }
    .no-indent {
        text-indent:                        0;
    }
    .copyright {
        float:                              right;
        text-align:                         center;
    }
}

.figures {
    @include make-center();
    box-sizing:                             border-box;
    padding:                                20px;
    background-color:                       #FFF;
    .photos {
        @include make-flex(row);
        flex-wrap:                          wrap;
        justify-content:                    space-around;
        a {
            @include make-flex(col);
            text-align:                     center;
            color:                          red;
            text-decoration:                none;
            margin-bottom:                  10px;
            img {
                box-sizing:                 border-box;
                border:                     solid 1px #CCCCCC;
                padding:                    10px;
                margin-bottom:              8px;
            }
        }
    }
}