@mixin margin-center() {
    margin:                             0 auto;
}
@mixin make-nav-list() {
    list-style-type:                    none;
    margin:                             0;
    padding:                            0;
    overflow:                           hidden;
}

body {
    margin:                             0;
    padding:                            0;
    font-size:                          14px;
    background-color:                   #FAFAFA;
}

main {
    @include margin-center();
    width:                              1000px;
    background-color:                   white;
}

.main-header {
    height:                             150px;
    background-image:                   url(/assets/img/banner.jpg);
    a {
        top:                            28px;
        left:                           70px;
        height:                         77px;
        display:                        block;
        position:                       relative;
        background:                     no-repeat;
        background-image:               url(/assets/img/logo.png);
    }
}

.navbar {
    background:                         linear-gradient(#088FE1, #0276B4);
    ul {
        @include make-nav-list();
        text-align:                     center;
        li {
            display:                    inline-block;
            &::after {
                content:                " | ";
                color:                  #90D2F2;
            }
            &:nth-last-child(-n+1)::after {
                content:                "";
            }
            a {
                text-decoration:        none;
                text-align:             center;
                line-height:            38px;
                height:                 100%;
                color:                  white;
                padding:                0 10px;
                display:                inline-block;
                &:hover {
                    background:         linear-gradient(#16E6F5, #0276B4);
                }
            }
        }
    }
}

.main-time {
    margin:                             6px;
}

.article-line {
    border-top:                         solid 4px #2F88ED;
}

article {
    .article-nav {
        margin:                         6px;
        font-size:                      12px;
        ol {
            @include make-nav-list();
            display:                    inline;
            li {
                display:                inline-block;
                &::after {
                    content:            " >> ";
                }
                &:nth-last-child(-n+1)::after {
                    content:            "";
                }
                a {
                    color:              #444444;
                    text-decoration:    none;
                }
            }
        }
    }
    section {
        margin:                         0 30px;
        text-indent:                    28px;
        header {
            text-align:                 center;
            h1 {
                font-size:              22px;
            }
        }
        figure {
            text-align:                 center;
        }
    }
}

footer {
    padding:                            10px 0;
    text-align:                         center;
    color:                              white;
    background-color:                   #146CCF;
}