.container {
  margin-right: auto;
  margin-left: auto; }

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: flex;
  flex-wrap: wrap; }

.col, .col-auto, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  position: relative;
  width: 100%;
  min-height: 1px; }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  flex: 0 0 auto;
  width: auto; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

.vw-auto {
  width: auto; }

.vw-full {
  width: 100vh; }

.vw-half {
  width: 50vh; }

.vw-one-third {
  width: 33.33333vh; }

.vw-one-fourth {
  width: 25vh; }

.vw-two-third {
  width: 66.66667vh; }

.vw-third-fourth {
  width: 75vh; }

.vh-auto {
  height: auto; }

.vh-full {
  height: 100vh; }

.vh-half {
  height: 50vh; }

.vh-one-third {
  height: 33.33333vh; }

.vh-one-fourth {
  height: 25vh; }

.vh-two-third {
  height: 66.66667vh; }

.vh-third-fourth {
  height: 75vh; }

.height-auto {
  height: auto; }

.height-1 {
  height: 8.33333%; }

.height-2 {
  height: 16.66667%; }

.height-3 {
  height: 25%; }

.height-4 {
  height: 33.33333%; }

.height-5 {
  height: 41.66667%; }

.height-6 {
  height: 50%; }

.height-7 {
  height: 58.33333%; }

.height-8 {
  height: 66.66667%; }

.height-9 {
  height: 75%; }

.height-10 {
  height: 83.33333%; }

.height-11 {
  height: 91.66667%; }

.height-12 {
  height: 100%; }

.primary-bg {
  background-color: #204F8D; }

.secondary-bg {
  background-color: #EEE; }

.footer-bg {
  background-color: #333; }

.red-bg {
  background-color: #B20000; }

body {
  color: #333;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; }

.page-title {
  background-image: url(/assets/d77378ca.title_logo.png);
  width: 723px;
  height: 422px;
  background-repeat: no-repeat; }

.sdcit-logo {
  width: 373px;
  height: 60px;
  background-repeat: no-repeat;
  background-image: url(/assets/1bd3f159.sdcit_logo.png); }

.xdd {
  width: 198px;
  height: 423px;
  background-repeat: no-repeat;
  background-image: url(/assets/e58f332d.xjp.png); }

.title-line {
  display: inline-block; }
  .title-line .left-line, .title-line .right-line {
    border-top: solid 2px white;
    width: 20vw; }
  .title-line .left-line {
    margin-right: 30px; }
  .title-line .right-line {
    margin-left: 30px; }

.section {
  box-sizing: border-box;
  overflow: hidden;
  padding: 2rem 0; }
  .section .title {
    font-size: 2.8rem;
    margin: 0;
    padding: 0 .5rem;
    display: inline-block;
    vertical-align: bottom; }
  .section .title > span {
    color: #B20000;
    margin: 0 10px; }
  .section .underline {
    border-bottom: 2px solid #204F8D; }
  .section .margin-bottom {
    margin-bottom: 2rem; }
  .section .margin-bottom-2 {
    margin-bottom: 4rem; }

.messagebox {
  box-sizing: border-box;
  background-color: #FFF;
  border: 2px solid #D2D2D2;
  padding: 20px 40px;
  position: relative; }
  .messagebox::after {
    content: '';
    position: absolute;
    top: 26%;
    left: -12px;
    width: 20px;
    height: 20px;
    background: inherit;
    border-left: 2px solid #D2D2D2;
    border-bottom: 2px solid #D2D2D2;
    transform: rotate(45deg); }
  .messagebox > div {
    z-index: 1;
    background: inherit;
    line-height: 150%; }

.parallelograms {
  display: inline-block;
  vertical-align: bottom; }
  .parallelograms .plg-left-1, .parallelograms .plg-right-1, .parallelograms .plg-left-2, .parallelograms .plg-right-2 {
    height: 50px;
    background-color: #204F8D;
    display: inherit; }
  .parallelograms .plg-left-1 {
    width: 80px;
    margin-right: 10px; }
  .parallelograms .plg-left-2 {
    width: 30px;
    margin-right: 60px; }
  .parallelograms .plg-right-1 {
    width: 30px;
    margin-left: 60px; }
  .parallelograms .plg-right-2 {
    width: 80px;
    margin-left: 10px; }
  .parallelograms .plg-left-1 {
    transform: skew(30deg); }
  .parallelograms .plg-right-1 {
    transform: skew(-30deg); }
  .parallelograms .plg-left-2 {
    transform: skew(30deg); }
  .parallelograms .plg-right-2 {
    transform: skew(-30deg); }

.title-box {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  color: #FFF;
  text-align: center;
  line-height: 100px;
  font-size: 90px; }

.ques-mk {
  font-size: 100px; }

.num-mk {
  font-size: 60px; }

.content-title > h1 {
  font-size: 2.25rem;
  font-weight: normal; }

.content-title > h1 > span {
  color: #D80000; }

.content-title > h2 {
  margin-top: 0; }

.content-title .no-margin {
  margin: 0; }

.content-box {
  margin: 0 20px; }
  .content-box > p {
    margin: 0;
    line-height: 150%; }
  .content-box .p {
    margin-left: 30px;
    margin-right: 30px;
    line-height: 200%;
    text-indent: 2rem; }

.red-fg {
  color: #B20000; }

.group-box {
  margin: 10px;
  border: 1px solid #D2D2D2;
  padding: 20px; }
  .group-box p {
    margin: 40px 0; }
  .group-box > h2 {
    position: relative;
    margin-top: -40px;
    background-color: #FFF;
    color: #204F8D; }
  .group-box .t1 {
    width: 220px; }
  .group-box .t2 {
    width: 320px; }

.footer {
  color: #FFF;
  padding: 0;
  text-align: center; }

@media (max-width: 1023px) {
  section, footer {
    display: none; }
  div .unsupdisp {
    height: 100vh; } }

@media (min-width: 1024px) {
  div .unsupdisp {
    display: none; } }

.order-first {
  order: -1; }

.order-last {
  order: 1; }

.order-zero {
  order: 0; }

.flex-row {
  flex-direction: row !important; }

.flex-column {
  flex-direction: column !important; }

.flex-row-reverse {
  flex-direction: row-reverse !important; }

.flex-column-reverse {
  flex-direction: column-reverse !important; }

.flex-wrap {
  flex-wrap: wrap !important; }

.flex-nowrap {
  flex-wrap: nowrap !important; }

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important; }

.justify-content-start {
  justify-content: flex-start !important; }

.justify-content-end {
  justify-content: flex-end !important; }

.justify-content-center {
  justify-content: center !important; }

.justify-content-between {
  justify-content: space-between !important; }

.justify-content-around {
  justify-content: space-around !important; }

.align-items-start {
  align-items: flex-start !important; }

.align-items-end {
  align-items: flex-end !important; }

.align-items-center {
  align-items: center !important; }

.align-items-baseline {
  align-items: baseline !important; }

.align-items-stretch {
  align-items: stretch !important; }

.align-content-start {
  align-content: flex-start !important; }

.align-content-end {
  align-content: flex-end !important; }

.align-content-center {
  align-content: center !important; }

.align-content-between {
  align-content: space-between !important; }

.align-content-around {
  align-content: space-around !important; }

.align-content-stretch {
  align-content: stretch !important; }

.align-self-auto {
  align-self: auto !important; }

.align-self-start {
  align-self: flex-start !important; }

.align-self-end {
  align-self: flex-end !important; }

.align-self-center {
  align-self: center !important; }

.align-self-baseline {
  align-self: baseline !important; }

.align-self-stretch {
  align-self: stretch !important; }

.fixed-top, .fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030; }

.fixed-top {
  top: 0; }

.fixed-bottom {
  bottom: 0; }

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1020; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

body {
  margin: 0;
  padding: 0; }

.center {
  margin: 0 auto; }
