@mixin make-viewport-height($sizing: $sizings) {
    @each $breakpoint in map-keys($sizing) {
        .vh-#{$breakpoint} {
            $height: map-get($sizing, $breakpoint);
            @if $breakpoint != auto {
                height: $height * 100 * 1vh;
            } @else {
                height: $height;
            }
        }
    }
}

@mixin make-viewport-width($sizing: $sizings) {
    @each $breakpoint in map-keys($sizing) {
        .vw-#{$breakpoint} {
            $width: map-get($sizing, $breakpoint);
            @if $breakpoint != auto {
                width: $width * 100 * 1vh;
            } @else {
                width: $width;
            }
        }
    }
}


@mixin make-rows($size, $rows: $height-rows) {
    height: percentage($size / $rows);
}

@mixin make-height($rows: $height-rows) {
    .height-auto {
        height: auto;
    }
    @for $i from 1 through $rows {
        .height-#{$i} {
            @include make-rows($i, $rows);
        }
    }
}